                    .custom-input-file {
                        background-color: #fd7e14;
                        color: #fff;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0 auto 0;
                        min-height: 15px;
                        overflow: hidden;
                        padding: 10px;
                        position: relative;
                        text-align: center;
                        width: 200px;
                    }
                    
                    .custom-input-file .input-file {
                        border: 200px;
                        cursor: pointer;
                        font-size: 10000px;
                        margin: 0;
                        opacity: 0;
                        outline: 0 none;
                        padding: 0;
                        position: absolute;
                        right: -1000px;
                        top: -1000px;
                    }
                    
                    .custom-input-file2 {
                        background-color: #fd7e14;
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        overflow: hidden;
                        width: 200px;
                        text-align: center;
                    }
                    
                    .custom-input-file2 .input-file2 {
                        margin: 0;
                        opacity: 0;
                        outline: 0 none;
                        padding: 0;
                    }